{% extends 'base.html' %}


{% block img %}
    {% load static %}
    <br><br><br>
    <center>
        <img src="{% static 'dist/images/fondo.jpg' %}" width="600" height="400"></center>                                                                               <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>

{% endblock %}















