{% extends 'body.html' %}

{% load widget_tweaks %}

{% block content %}
    <br>
    <form method="post" action=".">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-plus"></i>
                    {{ title }}
                </h3>
            </div>
            <div class="card-body">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label>{{ field.label }}:</label>
                        {{ field |add_class:'form-control'|attr:'autocomplete:off' }}
                    </div>
                {% endfor %}
            </div>
            {% block button %}
            {% endblock %}
        </div>

    </form>

    <script>
        {% if form.errors %}
            let errors = '';
            {% for field in form %}
                {% for error in field.errors %}
                    errors += '{{ error }}\n';
                {% endfor %}
            {% endfor %}
            Swal.fire({
                title: 'Error!',
                text: errors,
                icon: 'error',
            });
        {% endif %}

    </script>
{% endblock %}
