{% extends 'list.html' %}


{% block columns %}
    <tr>
        <th scope="col" style="width: 5%;">Nro</th>
        <th scope="col" style="width: 15%;">Nombres</th>
        <th scope="col" style="width: 10%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for c in object_list %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.names }}</td>
            <td>
                <a href="{% url 'marca_update' c.id %}" type="button" class="btn btn-warning btn-xs btn-flat ">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'marca_delete' c.id %}"  type="button" class="btn btn-danger btn-xs btn-flat" >
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    {% endfor %}



{% endblock %}

{% block button %}
    <div class="card-footer">

        <a href="{% url 'marca_create' %}" class="btn btn-primary btn-flat btnTest">
            <i class="fas fa-plus"></i> Crear Marca
        </a>

        <a href="{% url 'index' %}" class="btn btn-danger btn-flat">
            <i class="fas fa-times"></i> Cancelar
        </a>
    </div>

{% endblock %}
